asgiref==3.8.1
Django==4.2.16
djangorestframework==3.16.0
drf-yasg==1.21.10
django-cors-headers==4.7.0
neo4j==5.25.0
packaging==24.2
PyYAML==6.0.2
sqlparse==0.5.3
uritemplate==4.1.1
python-dotenv==1.0.1
flake8==7.1.1
